@font-face {
  font-family: "BIZ UDGothic";
  src: url("/fonts/BIZUDGothic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #212121;
  color: white !important;
  font-family: "BIZ UDGothic", sans-serif !important;
}
a {
  cursor: pointer;
  color: #6f6ff5;
  text-decoration: none;
}
.banner {
  width: 100%;
  height: 300px;
}
a[href^="mailto:"] {
  color: #f76d02;
}
       h1 {
         color: red;
       }
