html, body {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}


#instructions {
  position: absolute;
  color: #666;
  bottom: 0;
  padding-bottom: 6px;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.social-links {
  position: absolute; /* Для относительного позиционирования */
  height: 100vh; /* Занимает всю высоту экрана */
  align-items: center; /* Центрируйте карточки по вертикали */
  justify-content: flex-start;
  gap: 1rem; /* Промежуток между карточками */
  padding: 0px; /* Добавьте отступы, если нужно */
  box-sizing: border-box; /* Включает отступы в расчет ширины и высоты */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  display: flex;
  flex: 1; cursor: pointer;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-basis: 200;
  align-items: stretch;
  width: 100%;
  margin-left: 0;
}

.social-links:hover {
flex: 2;
}

.social-card {
  border: 1px solid #ccc; /* Граница карточек */
  border-radius: 8px; /* Закругленные углы */
  padding: 25px; /* Внутренние отступы */
  width: 250px; /* Фиксированная ширина карточек */
  opacity: 0; /* Изначально скрываем карточки */
  transform: translateY(-300vh); /* Начальная позиция - выше экрана */
  transition: flex 0.7s ease, transform 0.5s ease, box-shadow 0.5s ease, background-color 0.7s ease; /* Анимация для изменения flex и трансформации */
  display: flex;
  flex: 1; cursor: pointer;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-basis: 200;
  align-items: center;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2); /* Внутренняя тень */
  justify-content: center;
  flex-direction: column; 
  font-size: 1.2rem;
  margin-left: 0;
}

.social-card::before {
  content: ""; /* Создаем пустой элемент */
  position: absolute; /* Абсолютное позиционирование */
  top: 0; /* Выровнять по верхнему краю карточки */
  left: 0; /* Выровнять по левому краю карточки */
  right: 0; /* Выровнять по правому краю карточки */
  bottom: 0; /* Выровнять по нижнему краю карточки */
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px; /* Закругленные углы псевдоэлемента */
  pointer-events: none; /* Не мешаем взаимодействию с карточкой */
}

.social-card:hover {
  flex: 2; /* Увеличенный размер карточки при наведении */
  transform: translateY(-10px); /* Поднимите карточку вверх */
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.3);
}

.social-card:hover a {
  transform: scale(1.5); /* Увеличиваем текст на 20% при наведении */
}
.fade-in {
  opacity: 1; /* Показываем карточки при добавлении класса */
  transform: translateY(0); /* Перемещаем карточки на их место */
}
.social-card.visible {
  opacity: 1; /* Показываем карточки при добавлении класса */
  transform: translateY(0); /* Перемещаем карточки на их место */
  position: absolute;
}

.social-card p {
  margin: 0; /* Убираем отступы у параграфов */
  font-size: 1.1rem; /* Увеличиваем размер шрифта */
  color: #333; /* Темный цвет текста */
}

.social-card i {
  margin-right: 8px; /* Отступ между иконкой и текстом */
}

.social-card a {
  position: absolute; /* Абсолютное позиционирование */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #353535;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px; /* Закругленные углы, чтобы совпадали с карточкой */
  font-size: 1.2rem;
  transition: flex 0.7s ease, transform 0.5s ease, box-shadow 0.5s ease, background-color 0.7s ease;
  width: 80%; /* Ссылка занимает 90% ширины карточки */
  height: 80%; /* Ссылка занимает 90% высоты карточки */
}

@media (max-width: 768px) {
  .social-links {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 200;
    justify-content: center;
    flex-direction: column; /* Располагаем карточки в колонку */
    align-items: center;
    gap: 0.5rem;
    padding: 10px;
  }

  .social-card {
    padding: 15px;
    font-size: 1rem;
    width: 80%; /* Ширина карточек для мобильных устройств */
    min-width: 370px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 200;
  }

  .social-card a {
    font-size: 1.1rem;
    padding: 10px;
  }

  .social-card i {
    font-size: 1.5rem;
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  }
  .social-links {
  flex-direction: column;
  align-items: center;
  padding: 10px;
  }

  .social-card {
  width: 80%; /* Ширина карточек для мобильных устройств */
  min-width: 300px;
  padding: 15px;
  font-size: 1rem;
  }

  .social-card a {
  font-size: 1.1rem;
  padding: 10px;
  }

  .social-card i {
  font-size: 1.5rem;
  margin-right: 5px;
  }
